@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hina+Mincho&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,300,100&display=swap');

*,*:before,*:after{
    box-sizing: border-box;

}

::-webkit-scrollbar {
  width: 7px;
  height: 0;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(70, 66, 66, 0.2);
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(70, 66, 66, 0.6);
}

::-webkit-scrollbar-track {
  background-color: rgba(213, 213, 213, 0.2);
}


a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

body{
    margin: 0px;
    padding: 0px;
}

main{
    max-width: 1600px;
    margin: 0 auto;
}

.full-container{
    display: flex;
    justify-content: space-between;
    height: 100%;
    margin: 0 50px;
}

.w-727{
    width: 727px;
}

.w-613{
    width: 613px;
}

.full-container-1{
    height: 100%;
    margin-bottom: 80px;
}

/* .full-container-2{
    background-color: #35b931;
    height: 500px;
} */

h1{
    font-family: 'Hina Mincho';
    font-style: normal;
    font-weight: 400;
    font-size: 66px;
    text-transform: uppercase;
}

h2{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    text-transform: uppercase;
    margin: 0 0;
}

.margin-t-15{
    margin-top: 15px;
}

.margin-t-25{
    margin-top: 25px;
}

.margin-t-55{
    margin-top: 55px;
}

.margin-t-100{
    margin-top: 100px;
    margin-bottom: 0px;
}

.margin-t-80{
    margin-top: 80px;
}

.margin-t-90{
    margin-top: 90px;
}

.margin-b-30{
    margin-bottom: 30px;
}

.invisible-34{
    height: 34px;
}

.order-block-1{
    display: flex;
    justify-content: space-between;
}

.order-item-block-1:last-child{
    margin-right: -126px;
}

.input_style_1{
    border: none;
    width: 300px;
    border-bottom: 1px solid rgba(67, 67, 67, 0.6);
    outline:none;
    height: 28px;
}

.input_style_1::placeholder {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    color: rgba(67, 67, 67, 0.6);
    text-transform: uppercase;
    line-height: 10px;
    transform: translateX(-2px) translateY(-5px);
    opacity: 1;
    transition: opacity 0.3s ease;
}

.input_style_2::placeholder{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.6);
}

.input_style_3::placeholder{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.6);
}

input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}

.order-item-block-2-global{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 25px;
    margin-top: 30px;
}

.order-item-block-2{
    display: flex;
    justify-content: space-between;
}

.custom-radio, .custom-radio-2{
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  /* для элемента label связанного с .custom-radio */
  .custom-radio+label, .custom-radio-2+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
  }
  /* создание в label псевдоэлемента  before со следующими стилями */
  .custom-radio+label::before, .custom-radio-2+label::before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 50%;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }

  .custom-radio:not(:disabled):not(:checked)+label:hover::before,
  .custom-radio-2:not(:disabled):not(:checked)+label:hover::before {
    border-color: #808080;
  }

  .custom-radio:not(:disabled):active+label::before,
  .custom-radio-2:not(:disabled):active+label::before {
    background-color: #e7e7e7;
    border-color: #434343;
  }

  .custom-radio:checked+label::before,
  .custom-radio-2:checked+label::before {
    border-color: #434343;
    background-color: #f7f7f7;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgb(67, 67, 67)' /%3e%3c/svg%3e");
  }
  /* стили для радиокнопки, находящейся в состоянии disabled */
  .custom-radio:disabled+label::before,
  .custom-radio-2:disabled+label::before {
    background-color: #e9ecef;
  }

  .radio-hint{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.01em;
    color: rgba(0, 0, 0);
    opacity: 0.6;
    margin-top: 5px;
    margin-bottom: 0;
    letter-spacing: 0.01em;
  }

.cost{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 140.62%;
    color: #000000;
}

.form-body{

}

.input_style_2{
    width: 727px;
    border: 1px solid rgba(67, 67, 67, 0.6);
    outline:none;
    height: 45px;
    padding-left: 20px;
}

.input_style_3{
    width: 358px;
    border: 1px solid rgba(67, 67, 67, 0.6);
    outline:none;
    height: 45px;
    padding-left: 20px;
}

.card-input{
    display: flex;
    justify-content: space-between;
}

#textInput{
    display: none;
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

.pay-credit{
    display: flex;
    flex-direction: column;
}

.line{
    border-bottom: #434343 solid 1px;
}

.confirmation{
    margin-left: -26px;
}

.custom-checkbox{
    opacity: 0;
}

.custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.01em;
    color: rgba(0, 0, 0, 0.6)
}
.custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.custom-checkbox:checked+label::before {
    border-color: #434343;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='rgb(67, 67, 67)' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

/* стили при наведении курсора на checkbox */
.custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
border-color: #131313;
}
/* стили для активного состояния чекбокса (при нажатии на него) */
.custom-checkbox:not(:disabled):active+label::before {
background-color: #b3d7ff;
border-color: #b3d7ff;
}
/* стили для чекбокса, находящегося в состоянии disabled */
.custom-checkbox:disabled+label::before {
background-color: #e9ecef;
}

span{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.01em;
    color: #000000;
}

.order-button{
    width: 728px;
    background-color: #434343;
    height: 45px;
    border: 0;
    transition: ease-in-out 0.5s;
}

button{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    text-transform: uppercase;
    color: #FFFFFF;

}

.order-button:hover{
    background-color: #2b2b2b;
    border: #686868 solid 1px;
    transition: ease-in-out 0.5s;
}

.order-button:active{
    background-color: #ffffff;
    border: #181818 solid 1px;
    color: #000000;
    transition: ease-in-out 0.08s;
}